[Unit]
Description=Ena is nopCommerce app running on Xubuntu

[Service]
WorkingDirectory=/var/www/ena
ExecStart=/usr/bin/dotnet /var/www/ena/Nop.Web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=ena-log
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target